.App {
  text-align: center;
  padding: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center; /* Center cards horizontally */
  gap: 20px; /* Space between cards */
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 200px; /* Fixed card width */
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%; /* Make images fill the card width */
  height: 120px; /* Fixed image height */
  object-fit: cover; /* Crop image to fit dimensions */
}

.card-content {
  padding: 10px;
  text-align: center;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

hr {
  margin: 20px 0;
  border: 1px solid #ccc;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add spacing between cards */
}

.upload-section {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.upload-section h2 {
  margin-bottom: 10px;
}

.upload-section input {
  margin-bottom: 10px;
}

.upload-section button {
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-section button:hover {
  background-color: #2980b9;
}

.search-terms-section {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 600px;
  text-align: center;
  background-color: #f9f9f9;
}

.search-terms-section h2 {
  margin-bottom: 10px;
}

.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.pill {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
}
